 <section id="section1" class="cd-section">
  <div class="pagination-centered">
    <p class="pink-color">
    |<br>
    <%= image_tag("ank-logo.png", :class=>"ank-logo") %><br>
    |<br>
    </p>
    
    <section class="banner-ank">
    <h1 class="header-ank"> ANK 2014</h1>
    <h2 class="header-know"> The Knowledge Fest</h2>
    <a class="register-link" href="#register">Register</a>
    <h3 class="header-sharing">Sharing Knowledge Beyond Books</h3>
   </section>
 
    <p class="pink-color">
    |<br>
    </p>
    <div class="mntc-pre"> Maths and Tech Club presents</div><br>
    <p class="pink-color">
    |<br>
    </p>
   </div>
</section><!-- cd-section -->



<section id="section2" class="cd-section">
<!--------------------------------- events --------------------------------------> 

<section id= "events" class="events-wrapper">
  <div class="container">
    
       
    <div class="pagination-centered">
     <h1 class="heading_top">EVENTS</h1>
     <p class="text-muted event_below"> Check out our events! You are going to love them..</p>
     <h1 class="event_line"> _ </h1>
    </div>


<div id="myCarousel_1" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner reduce_h">
    <div class="active item">
      <div class="container box">

        <div class="col-md-4 event_img">
          <div class="wrapper">
           <div class="inner">
          <%= image_tag("hourglass.jpg") %>
           </div>
          </div>
        </div>
        <div class="col-md-1 small_box hidden-md hidden-sm hidden-xs">1</div>
        <h3 class="event_head">Hour Glass</h3>
        <p class="event_cont">
          Do you think you can beat time? Do you have what it takes? Come and prove it to yourself!
          60 minutes and 60 questions. It doesn't get anymore exciting than this. So come together keep calm and brainstorm.
        </p>

      </div><!-- container-box -->
     </div><!-- active-item -->

     <div class="item">
        <div class="container box">
            <div class="col-md-4 event_img">
               <div class="wrapper">
               <div class="inner">
              <%= image_tag("kr.jpg") %>
               </div>
              </div>
            </div>
            <div class="col-md-1 small_box hidden-md hidden-sm hidden-xs">2</div>
            <h3 class="event_head">Kryptic</h3>
            <p class="event_cont">
             Cryptology - Ujit fwfou jt hpjoh up cf bxftpnf !!!<br>
             Does this leave you flummoxed? This is not a typo designed to fool you but it is an event created to test your code cracking abilities. An event which requires no previous knowledge other than your presence of mind and quick wits.
            </p>

          </div>
       </div><!-- active-item -->

   </div><!-- car-inner -->
   
    <a class="carousel-control right fade_on" href="#myCarousel_1" data-slide="next">&rsaquo;</a>
  </div><!-- my-car -->



  <div id="myCarousel_2" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner reduce_h">
    <div class="active item">
       <div class="container box">

            <div class="col-md-4 event_img altr">
              <div class="wrapper">
               <div class="inner-alt">
              <%= image_tag("simplex.jpg") %>
                </div>
              </div>
            </div>
            <div class="col-md-1 small_box b_altr hidden-md hidden-sm hidden-xs">3</div>
            <h3 class="event_head h_altr">Simplex</h3>
            <p class="event_cont c_altr">
             Alogrithm and coding: Use your mathematical skills and computational skills together and make the solving of the questions simple. Simplex is an onsite programming event which is not mere mathematics or programming, both have to be used together, adding your mathematical approach makes the solving quicker and easier
            </p>

          </div>
     </div><!-- active-item -->

     <div class="item">
        <div class="container box">

          <div class="col-md-4 event_img altr">
              <div class="wrapper">
             <div class="inner-alt">
            <%= image_tag("constructo.jpg") %>
             </div>
            </div>
          </div>
          <div class="col-md-1 small_box b_altr hidden-md hidden-sm hidden-xs">4</div>
          <h3 class="event_head h_altr">Constructo</h3>
          <p class="event_cont c_altr">
           Do you have love for creating brand new stuff? DO you find the satisfaction in watching any self-made thing working? Then this is your arena. Regain your can-do attitude now as we bring to you an oppurtunity to unleash the creative skills in you, to make something out of nothing!! Grab it all as you are provided with virtual money to shop the raw materials for your model.
          </p>

        </div>
       </div><!-- active-item -->

   </div><!-- car-inner -->
   
    <a class="carousel-control left fade_on" href="#myCarousel_2" data-slide="next">&lsaquo;</a>
  </div><!-- my-car -->


<div id="myCarousel_3" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner reduce_h">
    <div class="active item">
      <div class="container box">

        <div class="col-md-4 event_img">
          <div class="wrapper">
           <div class="inner">
          <%= image_tag("tt1.jpg") %>
           </div>
          </div>
        </div>
        <div class="col-md-1 small_box hidden-md hidden-sm hidden-xs">5</div>
        <h3 class="event_head">Terrorist Takedown</h3>
        <p class="event_cont">
         Yet another attack in the campus. Are you ready to rescue your college, to be the next Super Hero??

         Then all you need is a technical edge, an innovative streak, a team strategy and not to forget an
         urge to emerge as a hero as the time is running out. So its time again for letting the adrenaline rush
         as you get ready for the run.
        </p>

      </div><!-- container-box -->
     </div><!-- active-item -->

     <div class="item">
        <div class="container box">
            <div class="col-md-4 event_img">
               <div class="wrapper">
               <div class="inner">
              <%= image_tag("300.jpg") %>
               </div>
              </div>
            </div>
            <div class="col-md-1 small_box hidden-md hidden-sm hidden-xs">6</div>
            <h3 class="event_head">Clash of The Titans</h3>
            <p class="event_cont">
            This ANK, gear up for the ultimate battle as the fiercest of warriors lock horns to prove
            their ultimate supermacy. The daring, bold and fearless titans come together to taste the 
            relish of competition-on having put forth the best within them and to be the king of kings.
            </p>

          </div>
       </div><!-- active-item -->

   </div><!-- car-inner -->
   
    <a class="carousel-control right fade_on" href="#myCarousel_3" data-slide="next">&rsaquo;</a>
  </div><!-- my-car -->



  <div id="myCarousel_4" class="carousel slide carousel-fade" data-ride="carousel">
  <div class="carousel-inner reduce_h">
    <div class="active item">
       <div class="container box bottom">

            <div class="col-md-4 event_img altr">
              <div class="wrapper">
               <div class="inner-alt">
              <%= image_tag("200.jpg") %>
                </div>
              </div>
            </div>
            <div class="col-md-1 small_box b_altr hidden-md hidden-sm hidden-xs">7</div>
            <h3 class="event_head h_altr">Matrix</h3>
            <p class="event_cont c_altr">
             Many of us are addicted to watching movies, while some would rather wreck our brains at puzzles!
             We bring together the best of both worlds and much more in this event. Here your ability of rational 
             thinking, making sense of obscure data amid preplexing puzzles and ability to comprehend what is seen
             with what is heard will be tested.
            </p>

          </div>
     </div><!-- active-item -->

     <div class="item">
        <div class="container box bottom">

          <div class="col-md-4 event_img altr">
              <div class="wrapper">
             <div class="inner-alt">
            <%= image_tag("anksh.jpg") %>
             </div>
            </div>
          </div>
          <div class="col-md-1 small_box b_altr hidden-md hidden-sm hidden-xs">8</div>
          <h3 class="event_head h_altr">Ankshala</h3>
          <p class="event_cont c_altr">
           Ankshala is an unique agenda where Maths N Tech Club conducts various events mainly based on mathematics and aptitude. Its an initiative taking all the schools in and around the city of Durgapur. The event aims at fostering the mathematical aptitude and technical acumen of the young minds right from the very inception.
          </p>

        </div>
       </div><!-- active-item -->

   </div><!-- car-inner -->
   
    <a class="carousel-control left fade_on bottom_ar" href="#myCarousel_4" data-slide="next">&lsaquo;</a>
  </div><!-- my-car -->





  

     <div class="span3">
        
      </div> 
  </div>
</section> <!-- events-wrapper -->
</section><!-- cd-section -->


<section id="section3" class="cd-section">
<section id="sponsers" class="sponsers-wrapper">
  <div class="container">
    <div class="pagination-centered">
     <h1 class="heading_top h_sponser">SPONSORS</h1>
     <p class="event_below h_sponser">Because you are worth it</p>
     <h1 class="event_line h_sponser"> _ </h1>
      </div>
       
     <ul class="why_sponser">
      <li>ANK, The Knowledge Fest of NiT Durgapur publicizes their sponsors extensively through posters in several colleges and corporates all over the region.</li>
      <li>We advertise in regional dailies, media and social networking sites with the logo and name of the sponsor company.</li>
      <li> A rendezvous of thousands of students and professionals, ANK is therefore, the most worthy platform to promote  your  company.</li>
     </ul>
      <div class="pagination-centered">
       <div class="col-md-12 event_img">&nbsp;</div>
     <p class="previous_spon"> our previous sponsors</p>
     <div class = "row fix-row">
     <div class="col-md-3 event_img"><%= image_tag("flo.png") %></div>
      <div class="col-md-3 event_img"><%= image_tag("lee.png") %></div>
       <div class="col-md-3 event_img"><%= image_tag("test.png") %></div>
       
        <div class="col-md-3 event_img"><%= image_tag("lol.png") %></div>
       </div>
       <div class = "row fix-row">
         <div class="col-md-3 col-md-offset-1"><%= image_tag("teach.png") %></div>
        
          <div class="col-md-3 "><%= image_tag("sav.png") %></div>
          <div class="col-md-3 "><%= image_tag("tvs.png") %></div>
       </div>
    </div>
  </div>
  <br>
<br>
</section> <!-- sponsers-wrapper -->
</section><!-- cd-section -->

<section id="section4" class="cd-section">
<section id="register" class="register-wrapper">
  <div class="contianer">
   <div class="pagination-centered">
     <h1 class="heading_register">Register</h1>
     <p class="event_below h_sponser"> Enter your details here </p>
     <h1 class="register_line h_sponser"> _ </h1>
   
<svg height="70" width="70" class="glif hidden-xs">
  <circle cx="30" cy="30" r="25" stroke="white" stroke-width="3" fill="#348DD3" text="V"/>
  <path d="M17,26 L30,38 L43,26" style="stroke: #ffffff; fill:white; stroke-width: 3px"/> 
  Sorry, your browser does not support inline SVG.  
</svg> 
<br>
 <svg height="25" width="100" class="glif-down">
  <path d="M50,0 L0,50 L100,50" style="stroke: #ffffff; fill:white; stroke-width: 3px"/> 
  Sorry, your browser does not support inline SVG.  
</svg>

<div class="reg_form">
<%= form_for @user, url: {:action => "create" , :anchor => "section4"} do |f| %>
   <% if !flash[:notice].blank? %>
      <div class="notice">
        <%= flash[:notice] %>
      </div>
     <% end %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:

      <ul class="error_exp">
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %> 

  <div class="n-thread">
    <%= f.text_field :name , placeholder: "Name", class: "tex" %>
  </div>
  <div class="n-thread">
    <%= f.text_field :college, placeholder: "College", class: "tex"%>
  </div>
   <div class="n-thread">
    <%= f.text_field :year, placeholder: "Year", class: "tex" %>
  </div>
  <div class="n-thread">
    <%= f.text_field :department, placeholder: "Department", class: "tex"%>
  </div>
   <div class="n-thread">
    <%= f.text_field :mobile, placeholder: "Mobile", class: "tex" %>
  </div>
  <div class="n-thread">
    <%= f.text_field :email, placeholder: "Email", class: "tex"%>
  </div>

  <div class="actions">
    <%= f.submit 'REGISTER', :class=>"foo" %>
    <!-- <a type="button" href="#test_modal3" data-toggle="modal", class="foo ">REGISTER</a> -->
  </div>

  <div class="modal fade" id="test_modal3">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h4>Sorry! </h4>
  </div>
  <div class="modal-body">
    <p>Registeration hasn't started yet!</p>
  </div>
  </div><!-- test_modal -->

<% end %>

<div id="user-widget">
  <% if current_user %>
    <strong><%= current_user.name %></strong>!
    <%= link_to "Sign out", signout_path, id: "sign_out" %>
  <% else %>
    <div class="face-button hidden-md hidden-sm hidden-xs">
    
    <!-- or --> &nbsp; &nbsp;
   
    <%= link_to "Facebook", "/auth/facebook", id: "sign_in", :class=> "foo fb-sign" %>
    </div>
    <div class="face-button hidden-lg">
       <%= link_to "Facebook", "/auth/facebook", id: "small_sign_in", :class=> "foo fb-sign" %>
    </div>
  <% end %>
</div>
</div>
<br>
<br>
<br>
<br>
 </div>
  </div>
</section> <!-- register-wrapper -->
</section><!-- cd-section -->





<section id="section6" class="cd-section">
<section class="footer-wrapper">
 <div class="pagination-centered">
     <h2 class="heading_register contact">CONTACT US</h2>
      
       <a href="https://www.facebook.com/AnkTheKnowledgeFest?ref=br_tf">
        <%= image_tag("Facebook_icon.png", :class=>"img-rounded") %>
       </a>
       <a href="https://plus.google.com/u/0/108422834569313978587/about">
        <%= image_tag("google-plus-icon-square.jpg", :class=>"img-rounded") %>
       </a>
        <a type="button" href="#test_modal" data-toggle="modal">
         <%= image_tag("email2-blue-icon.png", :class=>"img-rounded") %>
        </a>
        <p class=" h_sponser"> We're social! Follow us on Facebook and Google plus. </p>
       
       

<div class="modal fade" id="test_modal">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h4>You can mail us at: </h4>
  </div>
  <div class="modal-body">
     <%= image_tag("email-blue-icon.png", :class=>"img-pop") %>
    <p>MNTC2k14@gmail.com</p>
  </div>

</div>
    <div class="footer"> Designed and developed by MATHS AND TECH CLUB - NIT DURGAPUR
    <a type="button" href="#test_modal2" data-toggle="modal">
         <%= image_tag("set.png", :class=>"admin-log hidden-xs") %>
    </a>
   </div>

  <div class="modal fade" id="test_modal2">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h4>Admin login: </h4>
  </div>
  <div class="modal-body">
    <%= render :partial => "access/login"%>
  </div>

  </div>

  </div><!-- paginate -->

</section> <!-- footer-wrapper -->
</section><!-- cd-section -->